/* Reset and base styles  */
body {
	padding: 0px;
	margin: 0px;
	border: none;
  color: var(--black);
  background: #f5f6f8;

  /* font-family: var(--font-family); */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

:root {
  --black: #3B434E;
  --gray-light: #ebebeb;
  --gray-dark: #6d7260;
  --gray: #a4a4a4;

  --white: white;
  --primary: #7351f5;
  --primary-hover: #6344dc;
  --red: #FC636d;
  --red-light: #ffbabf;
  --green: #0d5a3a;
  --green-light: #c8f8e4;
  
  --font-family: 'Noto Sans KR', sans-serif

}